body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    display: flex;
    width: 150px;
}
.header{
    display: flex;
    justify-content: center;
    background-color: #00b894;
    padding-top: 20px ;
    padding-bottom: 20px ;
}

body{
    font-size: 20px;
}

.liste li{
    list-style: none;
    text-align: center;
    }

.box {
    border: solid 5px;
    border-radius: 10px 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    background-image: linear-gradient(to right,white, #00b894);
}

.liens{
display: flex;
justify-content: space-around;
flex-direction: column;
text-align: center;
background-color: #dfe6e9;
margin-top: 10px;
}

.titre{
    text-align: center;
    border: solid 5px;
    padding-top: 20px ;
    padding-bottom: 20px;
    background-image: linear-gradient(to right,white, #00b894);
    border-radius: 10px 30px;
}

.screen{
    display: flex;
    justify-content: center;
}

.legende{
    text-align: center;
}
.texte {
    text-align: center;
    margin-bottom: 20px ;
    margin-top:20px;
}
.footer p {
    margin-bottom: 50px;
    margin-right: 30px;
    }
.footer a{
        height: 25px;
        margin-top: 18px;
    }


.footer{
    background-color:#00b894 ;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}